{% extends "base.html" %}

{% block title %} Albums {% endblock title %}

{% block content %}
<div class="container">
    <table style="padding: 20px; margin: 20px; border-collapse: collapse; width: 100%;">
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Ver Canciones</th>
        </tr>
            <tr>
                <img src="https://lh3.googleusercontent.com/a/ACg8ocKKzzxOHxjDeOayKt1sFu58Eam4GrIHQaK_hucxFwlz8wnEeGE=s96-c" alt="">
                <img src="https://lh3.googleusercontent.com/a/ACg8ocJ_XgiDn5HmUe45E0ZookqVyd2Zu-GlwqSg_wrqNHKM7w4VLYFh=s96-c" alt="">
            </tr>
    </table>
</div>
{% endblock content %}
