{% extends "base.html" %}

{% block title %}Galería de Imágenes{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/folder_details.css') }}">
{% endblock style %}

{% block content %}
<div class="container mx-auto p-4">
    <!-- Sección que debe quedarse fija -->
    <div class="sticky-section">
        <div class="flex items-center">
            <a href="/media" class="back-button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                </svg>
            </a>
            <h2 class="text-3xl font-bold text-gray-800 dark:text-gray-200">{{ folder_name }}</h2>
        </div>
    </div>

    <!-- Grid de imágenes -->
    <div class="justified-grid" id="justifiedGrid">
        {% for image in images_urls %}
            <div class="item">
                <img src="{{ image.url }}" alt="Imagen" loading="lazy" data-width="{{ image.width }}" data-height="{{ image.height }}">
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const container = document.getElementById('justifiedGrid');
        const gap = 10; // Espaciado entre imágenes
        const rowHeight = 300; // Altura deseada para las filas

        function layoutImages() {
            const items = Array.from(container.querySelectorAll(".item img"));
            let row = [];
            let rowWidth = 0;

            // Calcular las proporciones y ajustar el layout
            items.forEach((img, index) => {
                const aspectRatio = img.dataset.width / img.dataset.height;
                const targetWidth = rowHeight * aspectRatio;

                row.push({ img, targetWidth, aspectRatio });
                rowWidth += targetWidth + gap;

                // Si la fila supera el ancho del contenedor o es la última imagen
                if (rowWidth > container.clientWidth || index === items.length - 1) {
                    const scale = (container.clientWidth - gap * (row.length - 1)) / rowWidth;
                    row.forEach(({ img, targetWidth }) => {
                        img.style.width = `${targetWidth * scale}px`;
                        img.style.height = `${rowHeight * scale}px`;
                    });
                    row = [];
                    rowWidth = 0;
                }
            });
        }

        window.addEventListener("resize", layoutImages);
        layoutImages();
    });
</script>
{% endblock script %}
