{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock style %}


{% block content %}
<div class="steam-cards mx-5">
    <div class="d-steam-cards js-steamCards">
        {% for juego in juegos %}
        <div class="d-steam-card-wrapper js-steamCardWrapper" data-id="{{ juego.id }}">
            <div class="d-steam-card" 
                style="background-image: url('{{ url_for('static', filename='images/' + juego.img) }}')">
            </div>
            <p class="text-center my-2 text ">{{ juego.juego }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='./js/index.js') }}"></script>
{% endblock script %}
