{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock style %}

{% block content %}
<div class="wrapper py-5">
	<h2 class="text-4xl font-semibold text-gray-800 dark:text-gray-200">
        <strong>Todos los juegos<span >( {{ count }} )</span></strong>
    </h2>

	<div class="cards">
        {% for juego in juegos %}
            <figure class="card" data-id="{{ juego.id }}">
                <img src="{{ url_for('static', filename='images/' +juego.img) }}" />
                <figcaption>{{ juego.juego }}</figcaption>
            </figure>
        {% endfor %}
	</div>
{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='./js/index.js') }}"></script>
{% endblock script %}