<nav class="sidebar close">
    <header>
        <div class="image-text">
        <span class="image">
            <img src="https://drive.google.com/uc?export=view&id=1ETZYgPpWbbBtpJnhi42_IR3vOwSOpR4z" alt="">
        </span>
        <div class="text logo-text">
            <span class="name">Stella Army </span>
            <span class="profession">Web developer</span>
        </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
    </header>
    <div class="menu-bar">
        <div class="menu">
        <form id="searchForm" onsubmit="return buscador(event);">
            <li class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="text" id="searchtext" name="q" placeholder="Search..." required>
                <button type="submit" style="display: none;">Search</button>
            </li>
        </form>
            
        <ul class="menu-links">
            <li class="nav-link">
            <a href="{{ url_for ('index') }}">
                <i class='bx bx-home-alt icon'></i>
                <span class="text nav-text">Inicio</span>
            </a>
            </li>
            <li class="nav-link">
            <a href="#">
                <i class='bx bx-plus icon'></i>
                <span class="text nav-text">Añadir Juego</span>
            </a>
            </li>
            <li class="nav-link">
            <a href="/config">
                <!-- Settings -->
                <i class='bx bx-cog icon'></i>
                <span class="text nav-text">Configuraciones </span>
            </a>
            </li>
        </ul>
        </div>
        <div class="bottom-content">
        <li class="">
            <a href="#">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">Logout</span>
            </a>
        </li>
        <li class="mode">
            <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
            </div>
            <span class="mode-text text">Dark mode</span>
            <div class="toggle-switch">
            <span class="switch"></span>
            </div>
        </li>
        </div>
    </div>
</nav>